<section>
  <div class="profile-wrapper">
    <h2>
      {{ userDetail?.['first_name'] || 'Loading...' }}
      {{ userDetail?.['last_name'] }}
    </h2>
    <p *ngIf="!!userDetail?.['first_name']">
      View {{userDetail?.['first_name']}}'s account details here
    </p>
  </div>
  <div class="card-wrapper">
    <div class="card">
      <app-detail-card
        [canEdit]="canEdit"
        [detail]="detail"
        inputType="edit"
        src="../../../../assets/Rectangle 7.svg"
      />
    </div>
    <div class="card">
      <app-detail-card
        [detail]="extraDetail"
        inputType="readonly"
        src="../../../../assets/Rectangle 9.svg"
      />
    </div>
  </div>
</section>
