<section>
  <div class="user-wrapper">
    <div>
      <h2>Users</h2>
      <p>All your users in one place</p>
    </div>
    <div class="checkbox-wrapper">
      <input
        type="checkbox"
        (change)="handleGetPendingUsersOnClick($event.target)"
        [checked]="hasPendingUsers"
      />
      <div>Show users pending my approval</div>
    </div>
  </div>
  <div class="table-wrapper">
    <div
      *ngIf="!hasPendingUsers || (hasPendingUsers && !!users?.length)"
      class="table table-header-wrapper"
    >
      <div class="table-header">
        <div>Name</div>
        <div>Email</div>
        <div>Action</div>
      </div>
    </div>
    <div class="table table-body-wrapper">
      <div *ngFor="let item of users" class="table-body">
        <div>
          {{ item?.["first_name"] || 'N/A' }} {{ item?.["last_name"] || 'N/A' }}
        </div>
        <div>{{ item?.["email"]  || 'N/A'}}</div>
        <div [ngSwitch]="hasPendingUsers">
          <button
            *ngSwitchCase="false"
            [routerLink]="['/dashboard', 'profile', item?.['_id'] ]"
          >
            View
          </button>

          <button *ngSwitchCase="true" (click)="handleApproveUser()">
            Approve
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="hasPendingUsers && !users?.length" class="empty-message">
      You are already an admin. You can't approve anymore users.
    </div>
  </div>
</section>
