<svg
  width="738"
  height="832"
  viewBox="0 0 738 832"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <g filter="url(#filter0_f_9_14)">
    <ellipse
      cx="339.105"
      cy="339.129"
      rx="339.105"
      ry="339.129"
      transform="matrix(0.823638 0.567116 -0.566966 0.823741 29.449 86.6681)"
      fill="url(#paint0_linear_9_14)"
    />
  </g>
  <g filter="url(#filter1_f_9_14)">
    <ellipse
      cx="339.086"
      cy="339.147"
      rx="339.086"
      ry="339.147"
      transform="matrix(-0.98241 -0.186738 0.186668 -0.982423 597.596 594.899)"
      fill="url(#paint1_linear_9_14)"
    />
  </g>
  <g filter="url(#filter2_f_9_14)">
    <ellipse
      cx="422.691"
      cy="390.836"
      rx="339.084"
      ry="339.15"
      transform="rotate(180 422.691 390.836)"
      fill="url(#paint2_radial_9_14)"
    />
  </g>
  <g filter="url(#filter3_f_9_14)">
    <ellipse
      cx="339.096"
      cy="339.137"
      rx="339.096"
      ry="339.137"
      transform="matrix(0.899479 -0.436964 0.436826 0.899546 239.375 364.891)"
      fill="url(#paint3_linear_9_14)"
    />
  </g>
  <defs>
    <filter
      id="filter0_f_9_14"
      x="-472.641"
      y="-30.8472"
      width="1178.23"
      height="1178.36"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur stdDeviation="125" result="effect1_foregroundBlur_9_14" />
    </filter>
    <filter
      id="filter1_f_9_14"
      x="-261.364"
      y="-390.819"
      width="1178.29"
      height="1178.42"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur stdDeviation="125" result="effect1_foregroundBlur_9_14" />
    </filter>
    <filter
      id="filter2_f_9_14"
      x="-166.393"
      y="-198.314"
      width="1178.17"
      height="1178.3"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur stdDeviation="125" result="effect1_foregroundBlur_9_14" />
    </filter>
    <filter
      id="filter3_f_9_14"
      x="103.369"
      y="-67.4391"
      width="1178.32"
      height="1178.45"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feGaussianBlur stdDeviation="125" result="effect1_foregroundBlur_9_14" />
    </filter>
    <linearGradient
      id="paint0_linear_9_14"
      x1="339.105"
      y1="0"
      x2="339.105"
      y2="678.257"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="white" stop-opacity="0.06" />
      <stop offset="1" stop-color="#E31C5F" />
    </linearGradient>
    <linearGradient
      id="paint1_linear_9_14"
      x1="339.086"
      y1="0"
      x2="339.086"
      y2="678.295"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="white" stop-opacity="0.06" />
      <stop offset="1" stop-color="#8532EE" />
    </linearGradient>
    <radialGradient
      id="paint2_radial_9_14"
      cx="0"
      cy="0"
      r="1"
      gradientUnits="userSpaceOnUse"
      gradientTransform="translate(422.691 390.836) rotate(90) scale(339.15 339.084)"
    >
      <stop stop-color="#48EFEF" />
      <stop offset="1" stop-color="white" stop-opacity="0.06" />
    </radialGradient>
    <linearGradient
      id="paint3_linear_9_14"
      x1="339.096"
      y1="0"
      x2="339.096"
      y2="678.274"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="white" stop-opacity="0.06" />
      <stop offset="1" stop-color="#EE7632" />
    </linearGradient>
  </defs>
</svg>
